---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Community of Business Owners",
    description:
      "Join a community of business owners who are building, scaling and growing their ecommerce businesses.",
    icon: "fluent:people-community-24-regular",
  },
  {
    title: "Facebook & Google Ads",
    description:
      "Learn how to run profitable Facebook and Google Ads campaigns that drive sales and revenue.",
    icon: "mdi:megaphone-outline",
  },
  {
    title: "Analytics & Reporting",
    description:
      "Learn how to use analytics and reporting to better understand your customers and grow your business.",
    icon: "mdi:chart-line",
  },
  {
    title: "Website Optimization",
    description:
      "Get access to the best tools and resources to optimize your website for conversions and sales.",
    icon: "ph:desktop",
  },
  {
    title: "Operation & Logistics",
    description:
      "Learn how to optimize your operations and logistics to reduce costs and increase profits.",
    icon: "fluent:box-multiple-24-regular",
  },
  {
    title: "Organic Search & SEO",
    description:
      "Have your business rank higher on Google and other search engines to drive more traffic and revenue.",
    icon: "fluent:book-search-24-regular",
  },
];
---

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="orange">Resouces</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    Say Goodbye to Cookie-Cutter Agencies and Research Hell
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    Using the power of AI and world class ecommerce experts, we help you build,
    scale and grow your ecommerce business without the need of expensive,
    cookie-cutter agencies.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-red-50 border shadow shadow-red-100/50 border-red-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-red-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
