---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import CoachingImg from "@assets/coaching.png";
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";

const { nomargin } = Astro.props;
---

<div
  class:list={[
    "max-w-4xl mx-auto flex flex-col items-center justify-center",
    !nomargin && "mt-24",
  ]}>
  <Badge color="orange">AI Powered</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    Supercharge Your Ecommerce Journey with AI Powered Tools & Coaching
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]"></p>
</div>

<div class="grid md:grid-cols-2 py-2 lg:py-8">
  <div class="grid place-items-center my-8">
    <video
      controls={false}
      autoplay
      loop
      muted
      playsinline
      class="w-full h-auto rounded-xl shadow-lg ring-black/10">
      <source
        src="https://cdn.shopify.com/videos/c/o/v/aecade4661724ba2949097f5e7477c74.mp4"
        type="video/mp4"
      />
    </video>
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="orange" class="-ml-px">AI Ecommerce Expert</Badge>
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Get An AI Powered Ecommerce Expert To Help You Grow Your Business
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Our AI will analyze your store and provide you with actionable insights
        to help you grow your business. Ask Questions, Get Answers, and Grow
        Your Business.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Personalized AI For Your Business</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Instant Answers and Actionables</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Free Resouces and Guides Provided</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link href="#" size="sm" class="inline-flex items-center group gap-px">
          <span>Get Started For Free</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
        <a
          href="#"
          class="text-sm px-2 transition py-1 text-slate-600 hover:text-red-500 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500 focus-visible:outline-none focus-visible:shadow-outline-red rounded-full"
          >Book A Call</a
        >
      </div>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
    <Picture
      src={CoachingImg}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <Badge color="orange" class="-ml-px">World Class Coaching</Badge>
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        World Class Ecommerce Coaching From The Best Of The Best
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Don't use another crappy marketing agency. Learn how to operate every
        aspect of your ecommerce business from the best in the industry.
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">1 on 1 Coaching Available</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Weekly Seminars With Other Business Owners</span
          >
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Personalized Coaching For Your Business</span>
        </li>
      </ul>
      <div class="flex items-center gap-4 mt-6">
        <Link href="#" size="sm" class="inline-flex items-center group gap-px">
          <span>Get Started For Free</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
            <path
              fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd"></path>
          </svg>
        </Link>
        <a
          href="#"
          class="text-sm px-2 transition py-1 text-slate-600 hover:text-red-500 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-red-500 focus-visible:outline-none focus-visible:shadow-outline-red rounded-full"
          >Book A Call</a
        >
      </div>
    </div>
  </div>
</div>
