@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41 100% 96%;
    --foreground: 0 13% 3%;
    --card: 41 100% 96%;
    --card-foreground: 0 13% 3%;
    --popover: 41 100% 96%;
    --popover-foreground: 0 13% 3%;
    --primary: 147 39% 17%;
    --primary-foreground: 41 100% 96%;
    --secondary: 43 61% 61%;
    --secondary-foreground: 0 13% 3%;
    --muted: 41 100% 20%;
    --muted-foreground: 0 12% 70%;
    --accent: 31 100% 16%;
    --accent-foreground: 41 100% 96%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 13% 3%;
    --border: 41 100% 20%;
    --input: 41 100% 20%;
    --ring: 31 100% 40%;
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 42 100% 4%;
    --foreground: 0 12% 97%;
    --card: 42 100% 4%;
    --card-foreground: 0 12% 97%;
    --popover: 42 100% 4%;
    --popover-foreground: 0 12% 97%;
    --primary: 146 40% 83%;
    --primary-foreground: 42 100% 4%;
    --secondary: 43 61% 39%;
    --secondary-foreground: 42 100% 4%;
    --muted: 42 100% 80%;
    --muted-foreground: 0 12% 97%;
    --accent: 31 100% 84%;
    --accent-foreground: 42 100% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 14% 10%;
    --border: 42 100% 60%;
    --input: 42 100% 80%;
    --ring: 31 100% 60%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    background: #fff9ec;
  }

  @font-face {
    font-family: "Thunder";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b4730a53cecc96880e8_Thunder-BoldLC.otf")
      format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a79725e7b774a2a15_Satoshi-MediumItalic.otf")
      format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a50c47d59a69d66cf_Satoshi-Black.otf")
      format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src:
      url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a85d32af56bfdd598_Satoshi-Bold.otf")
        format("opentype"),
      url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a85d32af56bfdd598_Satoshi-Bold.otf")
        format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a2500dc96a473e0e0_Satoshi-Light.otf")
      format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a517fd57926bd595d_Satoshi-Regular.otf")
      format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8ad773cd686aa2b213_Satoshi-Italic.otf")
      format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a9d5fc43ae5b696d3_Satoshi-LightItalic.otf")
      format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a83b1626fa0993ad7_Satoshi-BlackItalic.otf")
      format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8a30a53cecc968cd0b_Satoshi-Medium.otf")
      format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/65212b8ad7d94f7da29a0542_Satoshi-BoldItalic.otf")
      format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Thunder";
    src: url("https://assets.website-files.com/6520eb215790a4fb1203bad1/652148759d2009286d3fb9b9_Thunder-SemiBoldLC.otf")
      format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}
