@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 147 39% 17%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 61% 61%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 42 43% 86%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 42 43% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 146 40% 83%;
    --primary-foreground: 0 0% 0%;
    --secondary: 43 61% 39%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 43 44% 14%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 43 44% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    background: hsl(var(--muted) / 0.05);
  }
}
