---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
import Review from "@components/review.astro";

const testimonials = [
  {
    name: "John Doe",
    title: "CEO at TechCorp",
    image: "https://source.unsplash.com/fHXpgMd_XhE",
    text: "Ecommerce Explorer has been a game-changer for our online business. The platform's comprehensive coaching and strategies have elevated our ecommerce presence. We've experienced remarkable growth in sales and customer engagement.",
  },
  {
    name: "Jane Smith",
    title: "Marketing Manager at InnovateTech",
    image: "https://source.unsplash.com/jzz_3jWMzHA",
    text: "As a marketing manager, Ecommerce Explorer's insights into digital marketing have been invaluable. The platform's guidance on campaign optimization and audience targeting has significantly improved our marketing ROI.",
  },
  {
    name: "Mike Johnson",
    title: "CTO at CloudNine",
    image: "https://source.unsplash.com/MZf0mI14RI0",
    text: "Ecommerce Explorer has provided us with crucial technological insights for running an efficient online store. Their advice on website optimization and tech solutions has greatly enhanced our customer experience.",
  },
  {
    name: "Emily Brown",
    title: "HR Manager at ConnectCo",
    image: "https://source.unsplash.com/2EdIX-O2lkI",
    text: "Ecommerce Explorer has helped us streamline our recruitment and management processes for our ecommerce team. The platform offers excellent resources for team building and effective management in the digital commerce space.",
  },
  {
    name: "David Lee",
    title: "Sales Director at Linkify",
    image: "https://source.unsplash.com/QEgHL8NN7nM",
    text: "The sales strategies and customer engagement techniques I learned from Ecommerce Explorer have dramatically improved our online sales. Their expert coaching has been pivotal in refining our sales approach.",
  },
  {
    name: "Sarah Martinez",
    title: "Finance Controller at MoneyMakers",
    image: "https://source.unsplash.com/6qf1uljGpU4",
    text: "Ecommerce Explorer has been instrumental in enhancing our financial strategies for our ecommerce business. Their insights on budgeting, financial planning, and revenue optimization are top-notch.",
  },
];
---

<Container>
  <div class="mt-24">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      Business Owner <span class="text-red-500">Testimonials</span>
    </h2>
    <p class="text-lg mt-4 text-slate-600 text-center">
      Ecommerce Explorer is Trusted by 100's of Australian Ecommerce Business
      Owners.
    </p>
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-red-100 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-100 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-10 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
